/* --------------------------------------------------------	*/
/*	User																									  */
/* --------------------------------------------------------	*/

.hero-unit p {
	font-size: 14px!important;
}

.navbar .nav > li > a {
	font-size: 16px!important;
	padding-left: 5px!important;
}

a {
	color: #0B3479!important;
}

footer .social-networks a {
	background: none!important;
}