<p>HELLO</p>

		<!-- Navigation
		================================================== -->

		<!-- <div class="navbar"> -->
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<a class="brand" href="index.html">
						<img src="./img/logo-blue-grey-circle.png" alt="Setheo Holdings" height="38px"> SETHEO HOLDINGS
					</a>
					<div class="nav-collapse fr">
						<ul class="nav">
							<li><a href="index.html">Home</a></li>
							<li><a href="locations.html">Locations</a></li>
							<li><a href="explore.html">Divisions</a></li>
							<li><a href="managementTeam.html">Management Team</a></li>
							<li><a href="news.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>
							<li><a href="about.html">About us</a></li>
							<!-- <li><a href="alt.html">Alt</a></li> -->
							<!-- <li><a href="plans.html">Pricing</a></li> -->
							<li><button class="btn btn-primary">Sign In</button></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!-- end .container -->
			</div><!-- end .navbar-inner -->
		<!-- </div>end .navbar -->
